:root {
    font-size: 16px;
}

body {
    font-family: $font-family;
    font-weight: $font-normal;
    color: $dark;
    line-height: 1.35;
}

a {
    text-decoration: none;
    color: $dark;
}

.section-title {
    text-transform: uppercase;
    @include media-max("md") {
        font-size: 1.5rem;
    }
}

/*=============================================
=            Header            =
=============================================*/
.header {
    @include backImage($gradient-0, "../images/hero.jpg");
    @include background;
    background-attachment: fixed;
}

// Navigation Styles
.nav,
.features-content,
.cta-content,
.reviews-group,
.plans-group,
.form-flex,
.footer-brand {
    @include flex;
}

.logo {
    height: auto;
    width: 70px;
}

.hamburger-menu {
    display: none;
    @include media-max("md") {
        font-size: 2rem;
        color: $white;
        cursor: pointer;
        position: relative;
        z-index: 1500;
        display: block;
    }
    .fa-times {
        @include media-max("md") {
            display: none;
        }
    }
}

.menu-open .hamburger-menu .fa-times {
    @include media-max("md") {
        display: block;
    }
}

.menu-open .hamburger-menu .fa-bars {
    @include media-max("md") {
        display: none;
    }
}

.nav-list {
    list-style-type: none;
    display: inherit;
    position: relative;
    flex-direction: row;
    justify-content: initial;
    opacity: 1;
    transform: scale(1);
    @include media-max("md") {
        opacity: 0;
        transition: opacity $normal;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex(center);
        flex-direction: column;
        z-index: 1400;
        opacity: 0;
        transform: scale(0);
        transition: opacity $normal;
        background-color: $dark;
        overflow: hidden;
    }
}

.menu-open .nav-list {
    @include media-max("md") {
        padding-left: 0;
        opacity: 1;
        transform: scale(1);
    }
}

.nav-link {
    color: $primary;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    @include media-max("md") {
        display: block;
        font-size: 2rem;
        padding: 1rem 0 0.2rem;
        text-transform: uppercase;
        font-weight: $font-normal;
    }
    &:hover {
        border-bottom: 2px solid $primary;
    }
}
// end of Navigation

.hero {
    @include flex(center);
    min-height: 90vh;
}

.hero-text {
    color: $white;
}

.hero-cta a:first-child {
    @include media-max("md") {
        margin-bottom: 1rem;
    }
}

/*=====  End of Header  ======*/
/*=============================================
=            Features Section            =
=============================================*/
.bar:after {
    content: "";
    display: block;
    width: 70px;
    margin: 0 auto;
    border-bottom: 5px solid $secondary;
    padding-top: 0.5rem;
}

.features-subtitle {
    margin: 0 auto;
    max-width: 600px;
}

.features-content,
.cta-content,
.plans-group,
.reviews-group,
.form-flex,
.footer-brand {
    @include media-max("md") {
        display: block;
    }
}

.features-item {
    padding: 0 10px;
    @include media-max("md") {
        padding: 1rem 0;
    }
}

/*=====  End of Features Section  ======*/
.divider {
    @include backImage($gradient-1, "../images/divider.jpg");
    @include background;
    min-height: 60vh;
}
/*=============================================
=            Products            =
=============================================*/
.products-showcase,
.cities-group {
    width: 100%;
    @include flex(center);
    flex-wrap: wrap;
}

.products-showcase {
    @include media-max("md") {
        display: block;
    }
}

.product-item {
    flex-basis: 33%;
    margin: 0.2rem 0;
    @include media-max("md") {
        text-align: center;
    }
}

.product-img {
    @extend %img-fluid;
    max-width: 300px;
    margin: 0 0.5rem;
    &:hover {
        transform: scale(0.9);
        transition: all $slow;
    }
    @include media-max("md") {
        max-width: 100%;
        margin: 0 0.2rem;
    }
}

/*=====  End of Products  ======*/

/*=============================================
=            CTA            =
=============================================*/
.cta {
    @include backImage($gradient-0, "../images/divider.jpg");
    @include background;
    .h2 {
        color: $white;
    }
}

.cta-app .app-img:first-child {
    margin-right: 1rem;
    @include media-max("md") {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}
.app-img {
    width: 200px;
}

.cta-item {
    flex-basis: 30%;
    @include media-max("md") {
        display: inline-flex;
    }
}

.cta-item:nth-child(1):before {
    content: "1 ";
}

.cta-item:nth-child(2):before {
    content: "2 ";
}

.cta-item:nth-child(3):before {
    content: "3 ";
}

.cta-item:nth-child(-n + 3):before {
    color: $secondary;
    border: 2px solid $secondary;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cta-text {
    color: $white;
    @include media-max("md") {
        margin-top: 0.4rem;
        padding-left: 1rem;
    }
}
/*=====  End of CTA  ======*/

/*=============================================
=            Cities            =
=============================================*/
.cities-group {
    @include media-max("md") {
        display: block;
    }
}

.city-card {
    flex-basis: 23%;
}

.city-img {
    @extend %img-fluid;
}

.city-content {
    @include media-max("md") {
        margin-bottom: 2rem;
    }
}

.city-link:hover {
    color: $secondary;
}
/*=====  End of Cities  ======*/

/*=============================================
=            Reviews            =
=============================================*/
.reviews {
    @include backImage($gradient-0, "../images/review-img.jpg");
    @include background;
    background-attachment: fixed;
    color: $white;
}

.quote {
    font-style: italic;
    position: relative;
    &:before {
        content: "\201c";
        font-size: 3rem;
        display: block;
        margin-bottom: -30px;
    }
    @include media-max("md") {
        border: 1px solid $grey;
        padding: 1rem;
    }
}

.cite {
    font-size: 0.9rem;
    display: block;
}

.review-img {
    height: auto;
    width: 70px;
    vertical-align: middle;
    border-radius: 50%;
}
/*=====  End of Reviews  ======*/

/*=============================================
=            Plans            =
=============================================*/
.plans,
.cities {
    background-color: lighten($grey, 60%);
}

.plan-card {
    background-color: $white;
    border-radius: 5px;
    @include media-max("md") {
        margin-bottom: 1rem;
    }
}

.plan-price {
    font-size: 2rem;
    @include media-max("lg") {
        font-size: 1.5rem;
    }
}

.plan-price-cup {
    font-size: 1.5rem;
    @include media-max("lg") {
        font-size: 1rem;
    }
}

/*=====  End of Plans  ======*/
/*=============================================
=            Contact Form            =
=============================================*/
.fieldset {
    background-color: $primary;
    border: solid 1px $grey;
    border-radius: 6px;
    width: 80%;
    min-width: 300px;
    margin: auto;
}

label {
    display: block;
    font-size: 1.3rem;
}

input,
select {
    border: solid 1px $grey;
}

input[type="email"],
input[type="text"],
select {
    width: 25rem;
    @include media-max("lg") {
        width: 20rem;
    }
    @include media-max("md") {
        width: 100%;
    }
}

.email {
    @include media-max("md") {
        margin-top: 1rem;
    }
}

textarea {
    min-height: 8rem;
    min-width: 100%;
    border: solid 1px $grey;
}

input:focus,
textarea:focus,
select:focus {
    outline: solid 1px $primary;
    box-shadow: 0 0 5px $primary;
    background-color: lighten($primary, 20%);
}

.btn-form {
    width: 100%;
}

.newsletter label {
    display: inline-block;
}

/*=====  End of Contact Form  ======*/

/*=============================================
=            Footer            =
=============================================*/
.footer {
    background-color: $dark;
    color: $secondary;
    @include media-max("lg") {
        padding: 0 2rem;
    }
}

.footer-brand {
    @include media-max("md") {
        display: block;
        padding-bottom: 0;
    }
}

.footer-nav,
.social-links {
    display: inline-flex;
}

.social-links {
    @include media-max("md") {
        margin-top: 2rem;
    }
}

.footer-link {
    color: $secondary;
    font-size: 1.5rem;
    &:hover {
        color: $white;
    }
    @include media-max("md") {
        font-size: 1rem;
    }
}

.link-indent {
    @include media-max("md") {
        margin-left: -1rem;
    }
}

.social-link {
    color: darken($white, 20%);
    &:hover {
        transition: color $fast;
    }
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram-square:hover {
    color: #3f729b;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.copy-name {
    color: $white;
    border-bottom: 1px solid $white;
    &:hover {
        color: $secondary;
        border-bottom: 1px solid $secondary;
    }
}
/*=====  End of Footer  ======*/
@include media-max("sm") {
}
@include media-max("md") {
}
@include media-max("lg") {
}
@include media-max("xl") {
}
