:root {
    font-size: 16px;
}

body {
    font-family: $font-family;
    font-weight: $font-normal;
    color: $dark;
    line-height: 1.35;
}

a {
    text-decoration: none;
    color: $white;
}

/*=============================================
=            Header            =
=============================================*/
.header {
    @include backImage($gradient-0, "../images/hero.jpg");
    @include background;
}

// Navigation Styles
.nav {
    @include flex;
}

.logo {
    height: auto;
    width: 70px;
}

.hamburger-menu {
    display: none;
    @include media-max("md") {
        font-size: 2rem;
        color: $white;
        cursor: pointer;
        position: relative;
        z-index: 1500;
        display: block;
    }
    .fa-times {
        @include media-max("md") {
            display: none;
        }
    }
}

.menu-open .hamburger-menu .fa-times {
    @include media-max("md") {
        display: block;
    }
}

.menu-open .hamburger-menu .fa-bars {
    @include media-max("md") {
        display: none;
    }
}

.nav-list {
    list-style-type: none;
    display: inherit;
    position: relative;
    flex-direction: row;
    justify-content: initial;
    opacity: 1;
    transform: scale(1);
    @include media-max("md") {
        opacity: 0;
        transition: opacity $normal;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex(center);
        flex-direction: column;
        z-index: 1400;
        opacity: 0;
        transform: scale(0);
        transition: opacity $normal;
        background-color: $dark;
        overflow: hidden;
    }
}

.menu-open .nav-list {
    @include media-max("md") {
        padding-left: 0;
        opacity: 1;
        transform: scale(1);
    }
}

.nav-link {
    color: $primary;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    @include media-max("md") {
        display: block;
        font-size: 2rem;
        padding: 1rem 0 0.2rem;
        text-transform: uppercase;
        font-weight: $font-normal;
    }
    &:hover {
        border-bottom: 2px solid $primary;
    }
}
// end of Navigation

.hero {
    @include flex(center);
    min-height: 90vh;
}

.title {
    text-transform: uppercase;
    & > .hero-text {
        color: $white;
    }
}

/*=====  End of Header  ======*/
/*=============================================
=            Features Section            =
=============================================*/
.h2-align {
    text-align: center;
}

.bar:after {
    content: "";
    display: block;
    width: 70px;
    margin: 0 auto;
    border-bottom: 5px solid $secondary;
    padding-top: 1.5rem;
}

.features-text {
    margin: 0 auto;
    max-width: 600px;
}

.features-content {
    @include flex;
}

.features-item {
    padding: 0 10px;
}

/*=====  End of Features Section  ======*/
.divider {
    @include backImage($gradient-1, "../images/divider.jpg");
    @include background;
    min-height: 60vh;
}
/*=============================================
=            Products            =
=============================================*/
.products-showcase {
    width: 100%;
    @include flex(center);
    flex-wrap: wrap;
}

.product-item {
    flex-basis: 33%;
    margin: 0.2rem 0;
}

.product-img {
    @extend %img-fluid;
    max-width: 370px;
    &:hover {
        transform: scale(0.9);
        transition: all $slow;
    }
}
/*=====  End of Products  ======*/

/*=============================================
=            CTA            =
=============================================*/
.cta {
    @include backImage($gradient-0, "../images/divider.jpg");
    @include background;
    .h2 {
        color: $white;
    }
}

.cta-app {
    text-align: center;
}
.app-img {
    width: 200px;
}

.cta-content {
    @include flex;
}

.cta-item {
    flex-basis: 30%;
}

.cta-item:nth-child(1):before {
    content: "1 ";
}

.cta-item:nth-child(2):before {
    content: "2 ";
}

.cta-item:nth-child(3):before {
    content: "3 ";
}

.cta-item:nth-child(-n + 3):before {
    color: $secondary;
    border: 2px solid $secondary;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cta-text {
    color: $white;
}
/*=====  End of CTA  ======*/
