/*=============================================
=            Theme            =
=============================================*/

/* Colors */

$primary: #c99502;
$secondary: #d8ac17;
$success: #06af52;
$danger: #ff6347;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #060606;
$grey: #565655;
$white: #ffffff;

/* Gradients */

$gradient-0: 90deg, #000000 10%, rgba(0, 0, 0, 0.2) 100%,
    rgba(0, 0, 0, 0.4) 100%;
$gradient-1: 90deg, #000000 11%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0) 100%;
$gradient-2: rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8);
$gradient-3: rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7);
$gradient-4: 90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%;
$gradient-5: rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0);

/* Typography */
$font-family: "Ubuntu", sans-serif;
$font-normal: 400;
$font-bold: 700;

/*=====  End of Theme  ======*/

/*=============================================
=            Misc Config            =
=============================================*/

/* Breakpoints */
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Transitions */

$fast: 0.2s ease-out;
$normal: 0.4s ease-out;
$slow: 0.6s ease-out;

/*=====  End of Misc Config  ======*/
